@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    box-sizing: border-box;
 }

body {
    font-family:"Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fbfc;
    color: #333;
}

#navbar {
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   transition: top 0.3s;
   align-items: center;
   z-index: 3;
 }
 
#navbar a {
   color: #333;
   text-align: center;
   padding: 15px;
   text-decoration: none;
   font-size: 20px;
}
 
#navbar a:hover {
   -webkit-transform: scale(1.08);
   transform: scale(1.08);
   font-weight: bold;
   text-decoration: underline;
   text-decoration-thickness: 5px;
   text-underline-offset: 4px;
   text-decoration-color: #769fcd;
}

.nav_list {
   display: flex;
   padding-right: 20px;
   margin: 0;
}

.nav_item {
   list-style-type: none;
}

nav > h2 {
   font-family: 'Caveat', cursive;
   font-size: 40px;
   color: #769fcd;
   margin: 0;
   padding: 20px;
}

.icon {
   display: none;
}

.jumbotron {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   min-height: 500px;
   width: 100%;
   text-align: left;
   color: #333;
   background-color: #d6e6f2;
}

.intro > h4 {
   font-weight: lighter;
   font-size: 20px;
   margin: 10px 0;
}

.intro > h1 {
   font-size: 60px;
   margin: 10px 0;
}
.intro > p {
   font-size: 20px;
   font-weight: lighter;
}

.intro-text-web {
   color: #769fcd;
}

.web-dev-img {
   width: 40%;
}

.btn_wrapper {
   margin-top: 50px;
}

.btn {
padding: 12px 24px;
width: 190px;
display: inline-block;
border-radius: 8px;
text-align: center;
border: none;
font-family:"Quicksand", sans-serif;
font-size: 20px;
font-weight: 500;
}
 
.btn:hover {
   font-weight: bold;
}

.hire {
   color: white;
   background-color: #769fcd;
   margin-right: 10px;
   box-shadow: 0 10px 40px rgb(118 159 205 / 50%);
}

.hire:hover {
   background-color: #b9d7ea;
}

.downloadcv {
   color: #769fcd;
   background-color: white;
   box-shadow: 0 10px 40px rgb(0 0 0 / 8%);
}

.downloadcv:hover {
   background-color: #f7fbfc;
 }

main {
   padding: 20px;
   overflow: auto;
}

.container {
   display: flex;
   flex-direction: column;
   max-width: 1170px;
   min-width: 44px;
   padding: 0 15px;
   margin: 0 auto;
}
.content {
   margin-bottom: 20px;
 }

 .aboutme {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 500px;
 }

 .aboutme > img {
   width: 40%;
 }

 .aboutme-text {
   padding-left: 10px;
   color: #333;
 }

 .aboutme-text > h2 {
   margin: 5px 0;
   font-family: 'Caveat', cursive;
   font-size: 40px;
}

 .aboutme-text > h3{
   margin-bottom: 5px;
   color: #769fcd;
}

.service {
   min-height: 500px;
   padding: 0 30px 30px 30px;
}

.service-title {
   text-align: center;
   color: #769fcd;
}

.service-title h2 {
   font-family: 'Caveat', cursive;
   color: #333;
   margin-top: 5px;
   font-size: 40px;
}

.service-title h3 {
   margin-bottom: 5px;
}

.service-card-wrapper {
   display: flex;
   gap: 40px;
   padding: 0 15px 15px 15px;
}

.card-service {
   text-align: center;
}

.service-img {
   width: 30%;
}

.portfolio {
   min-height: 500px;
   margin: 2rem 0;
   padding: 30px;
}

/*create slider */
.slider-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

.slide {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   opacity: 0;
   z-index: 1;
   -webkit-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;
   display: flex;
   justify-content: space-between;
}

/* class to show the current slide */
.showing {
   opacity: 1;
   z-index: 2;
}

.slide-image {
   width: 50%;
}

/* align the testimonial in the center */
.slide-testimonial {
   margin-left: 80px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.slide-img > img {
   width: 100px;
   border-radius: 50px;
   box-shadow: 0px 17px 40px rgb(0 0 0 / 12%);
}

.slide-person {
   margin-left: 20px;
}

.slide-person p {
   padding: 5px;
}

/* make the name of the person bold */
.slide-person .testi {
   color: #333;
   font-size: 18px;
}

.slide-person .name {
   color:#333;
   font-weight: bold;
   font-size: 25px;
   margin: 0 auto;
}

/* make their job title light gray */
.slide-person .job {
   color: #333;
   font-size: 18px;
   margin-top: 0;
}

/* position the buttons and make them green */
.slider-button {
   z-index: 3;
   display: -ms-flexbox;
   cursor: pointer;
   position: absolute;
   top: 100px;
   width: auto;
   padding: 16px;
   color: #769fcd;
   font-weight: bold;
   font-size: 50px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/*posion the left an right button horizontally */
.next {
   right: 440px;
   border-radius: 3px 0 0 3px;
 }

.prev {
   left: -60px;
}
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }

.contact {
   min-height: 500px;
   margin: 2rem 0;
   padding: 15px 0;
}

.contact-wrapper {
   display: flex;
   justify-content: center;
   padding: 0 15px 30px 15px;
}

.contact-wrapper > img {
   width: 40%;
 }

.form-email {
   width: 300px;
   margin-left: 10px;
}

.form-email form {
   margin-top: 1rem;
   margin-bottom: 1rem;
   padding-top: 1rem;
}

.form-input, .textarea {
   font-family:"Quicksand", sans-serif;
   margin: 5px;
   border-radius: 3px;
   font-size: 18px;
   width: 100%;
   padding: 12px 20px;
   display: inline-block;
   border: 1px solid #ccc;
}

.form-input:focus, .textarea:focus {
   border: 1px solid #769fcd!important;
}

.form-email button {
   font-family:"Quicksand", sans-serif;
   font-size: 18px;
   background-color: #769fcd;
   color: white;
   padding: 14px 20px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgb(118 159 205 / 20%);
}

/* Add a hover effect for buttons */
.form-email button:hover {
   opacity: 0.8;
}

.card {
   box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color: white;
}

 .profile img {
    width: 200px;
    border-radius: 100px;
    box-shadow: 0px 17px 40px rgb(0 0 0 / 12%);
 }

 .profile header {
     text-align: center;
 }

 .profile figcaption {
    padding-top: 40px;
    font-size: 25px;
    font-weight: 600;
 }

 .table-profile {
   text-align: left;
 }

 .bio-list, .social-list {
   display: flex;
   justify-content: center;
 }

 .bio-item {
    list-style-type: none;
    margin-right: 10px;
    color: #333;
 }

 .fa {
    margin-right: 4px;
 }

 .social-item {
   list-style-type: none;
   margin-right: 10px;
   color: #333;
   font-size: 30px;
 }

 .social-item a {
   text-decoration: none;
   color: #333;
 }

 .social-item a:hover {
   color: #769fcd;
 }

footer {
   padding: 1px 1px 10px;
   color: #333;
   background-color: #fff;
   text-align: center;
   font-size: small;
   box-shadow: 0 -1px 5px rgb(0 0 0 / 20%);
 }

 footer > p {
    margin: 10px;
 }

 .attribution {
   font-size: xx-small;
   margin-bottom: 0;
 }
 .attribution a {
   text-decoration: none;
   color: #333;
 }


